<div class="profile_box">

  <div class="profile_box_upper"></div>
  <div class="profile_box_image"></div>
  <div class="profile_box_name_box">
    <p class="profile_box_name">
      Jamal Moon
    </p>
    <p class="profile_box_handle">
      @jmoon018
    </p>
  </div>

  <br>

  <div class="profile_box_categories">
    <div class="profile_box_category_box">
      <p class="profile_box_category">TWEETS</p>
      <p class="profile_box_category_count">1</p>
    </div>

    <div class="profile_box_category_box">
      <p class="profile_box_category">FOLLOWERS</p>
      <p class="profile_box_category_count">11</p>
    </div>

    <div class="profile_box_category_box">
      <p class="profile_box_category">FOLLOWING</p>
      <p class="profile_box_category_count">151</p>
    </div>
  </div>
</div>
