<div class="right_bar">
  <div class="follow_box">
    <p class="home_box_title">Who to follow - <a href="" class="home_box_link">Refresh</a> - <a href="" class="home_box_link">View all</a></p>
  </div>
</div>
