<div class="trends_box">
  <p class="home_box_title">Trends • <a href="" class="home_box_link">Change</a></p>
  <ul class="trends_box_list">
    <li class="trends_box_list_item"><a href="" class="home_box_link">#FoodieBandNames</a></li>
    <li class="trends_box_list_item"><a href="" class="home_box_link">#DearMe</a></li>
    <li class="trends_box_list_item"><a href="" class="home_box_link">Nvidia Shield</a></li>
    <li class="trends_box_list_item"><a href="" class="home_box_link">Source 2</a></li>
    <li class="trends_box_list_item"><a href="" class="home_box_link">#FoodieBandNames</a></li>
    <li class="trends_box_list_item"><a href="" class="home_box_link">#DearMe</a></li>
    <li class="trends_box_list_item"><a href="" class="home_box_link">Nvidia Shield</a></li>
    <li class="trends_box_list_item"><a href="" class="home_box_link">Source 2</a></li>
  </ul>
</div>
