/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

/* reset everything */































* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(160, 215, 235);
}



/* HEADER PORTION
====================================== */


.header_bar {
  height: 50px;
  width: 100%;
  background-color: white;
}

.header_bar_left_list {
  float: left;
  list-style-type: none;
  height: 100%;
}

.header_bar_middle {
  overflow: hidden;
  height: 100%;
}

.header_bar_twitter_logo {
  height: 100%;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header_bar_right_list {
  float: right;
  list-style-type: none;
  height: 100%;
}

.header_bar_list_item {
  float: left;
  font-size: 2em;
  padding: 10px;

  line-height: 100%;
}

.header_bar_list_item:hover {
  background-color: rgb(220, 255, 255);
  cursor: pointer;
}


/* HOME PAGE
==================================
==================================
==================================*/


.home_box_title {
  font-size: 1.1em;
  color: gray;
}

.home_box_link {
  font-size: 0.85em;
  text-decoration: none;
  color: rgb(80, 150, 200);
}

/* LEFT BAR */

.left_bar {
  float: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 300px; /* fixed width */
  padding: 10px;
}



/* PROFILE BOX
==================================*/

.profile_box {
  width: 100%;
  height: 200px;
  background-color: white;


  border-radius: 10px;

  overflow: hidden;

}

.profile_box_upper {
  height: 50%;
  width: 100%;
  background-color: rgb(20, 120, 195);
}

.profile_box_image {
  background-color: rgb(20, 120, 195);
  border: 3px solid white;
  border-radius: 10px;

  width: 80px;
  height: 80px;
  position: relative;
  bottom: 40px;
  left: 10px;

  float: left;
}

.profile_box_name_box {
  position: relative;
  top: 5px;
  left: 15px;

}

.profile_box_name {
  font-size: 1.3em;
  font-weight: bold;
}

.profile_box_handle {
  color: gray;
  font-size: 0.85em;
}


.profile_box_categories {
  position: relative;
  bottom: 35px;
  height: 90px;

  clear: both;

  border-top: 1px solid black;
}

.profile_box_category_box {
  padding: 10px;
  width: 33%;
  float: left;
}

.profile_box_category {
  font-size: 0.7em;
  color: gray;
}

.profile_box_category_count {
  margin-top: 5px;
  font-size: 1.25em;
  color: rgb(20, 120, 195);
  font-weight: bold;
}

/* TRENDS BOX
==================================*/
.trends_box {
  float: left;

  height: 225px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;

  background-color: white;
  border-radius: 10px;
}

.trends_box_list {
  list-style-type: none;
}

.trends_box_list_item {
  margin-top: 3px;
}



/* RIGHT BAR
=======================================*/

.right_bar {
  float: right;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 300px; /* fixed width */
  padding: 10px;
  overflow: hidden;
}

/* WHO TO FOLLOW BOX
=======================================*/

.follow_box {
  float: left;
  padding: 10px;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background-color: white;
}

.follow_box_account_title {
  font-weight: bold;
  font-size: 1.1em;
  color: black;
}
