<div class="header_bar">
  <ul class="header_bar_left_list">
    <li class="header_bar_list_item">Home</li>
    <li class="header_bar_list_item">Notifications</li>
    <li class="header_bar_list_item">Messages</li>
    <li class="header_bar_list_item">Discover</li>
  </ul>

  <ul class="header_bar_right_list">
    <li class="header_bar_list_item">Search Twitter...</li>
    <li class="header_bar_list_item">Profile</li>
    <li class="header_bar_list_item">Tweet...</li>
  </ul>

  <div class="header_bar_middle">
    <img class="header_bar_twitter_logo" src="/images/twitter_logo.png" />
  </div>
</div>
